<!-- <div class="row">
    <div class="col-md-6 col-md-offset-6 mx-auto bg-light p-4">
        <form (ngSubmit)="signup(signupForm)" class="form" #signupForm="ngForm">
            <div class="form-group">
                <input type="email" class="form-control" [(ngModel)]="model.email" placeholder="user@example.com" #email="ngModel" name="email" pattern="[^ @]*@[^ @]*">
                <span  class="text-danger" *ngIf="email?.invalid">invalid Email Address!</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="model.password" placeholder="Password" #password="ngModel" name="password">
                <span class="text-danger" *ngIf="password?.invalid">invalid Password!</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="model.retypepassword" placeholder="Retype Password" #retypepassword="ngModel" name="retypepassword">
                <span  class="text-danger" *ngIf="retypepassword?.dirty && password?.value != retypepassword?.value">Passwords don't match!</span>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!signupForm.form.touched || signupForm.form.invalid">Signup</button>
        </form>
    </div>
</div> -->


<div class="row">
    <div class="col-md-6 col-md-offset-6 mx-auto bg-light p-4">
        <!-- {{signupForm.value | json }} -->
        <form (ngSubmit)="signup()" class="form" [formGroup]="signupForm">
            <div class="input-group mb-3">
                <input formControlName="email" type="email"
                    [ngClass]="{
                            'border-danger':isEmailDirty && (isInvalidEmail || isEmailAlreadyExists),
                            'border-success':isEmailDirty && !(isInvalidEmail || isEmailAlreadyExists)
                        }" 
                    
                    class="form-control"
                    placeholder="user@example.com" name="email" aria-describedby="basic-addon2">
                <div class="input-group-append" *ngIf="isEmailDirty && !isInvalidEmail && !isEmailAlreadyExists">
                    <span class="input-group-text bg-success text-light" id="basic-addon2">&#10003;</span>
                </div>
                <div class="input-group-append" *ngIf="isEmailDirty && isEmailAlreadyExists">
                    <span class="input-group-text bg-danger text-light" id="basic-addon2">&#10005;</span>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="password" type="password" class="form-control" placeholder="Password"
                    name="password">
                <span *ngIf="isInvalidPassword" class="text-danger">invalid Password!</span>
            </div>
            <div class="form-group">
                <input formControlName="retypepassword" type="password" class="form-control"
                    placeholder="Retype Password" name="retypepassword">
                <span *ngIf="isInequalPasswords" class="text-danger">Passwords don't match!</span>
            </div>
            <button [disabled]="signupForm.invalid" class="btn btn-primary" type="submit">Signup</button>
        </form>
    </div>
</div>